beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
decorator==4.2.1
dlib==19.9.0
docopt==0.6.2
furl==1.0.1
idna==2.6
Mastodon.py==1.2.2
matplotlib==2.1.2
networkx==2.1
numpy==1.14.1
opencv-python==3.4.0.12
orderedmultidict==0.7.11
packaging==17.1
path.py==11.0
peppercorn==0.5
Pillow==9.3.0
pipreqs==0.4.9
pyboost==0.1.dev18
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyWavelets==0.5.2
requests==2.18.4
scikit-image==0.13.1
scipy==1.0.0
setuptools-scm==1.15.7
six==1.11.0
SQLAlchemy==1.2.4
SQLite3Database==0.2.0
urllib3==1.22
yarg==0.1.9
zetup==0.2.42
